$background-color: #FFFFFF;
$orange: #EB7421;
$green:#47CA5B;
$text-blue: #2C8EFF;
$input-color: #BEBEBE;
$text-bold-gray: #616161;
$text-light-gray :#B5B5B5;
$text-light-gray: #B6B6B6;
$button-light-gray: #C8C8C8;
$light-green: #B6F6C0;
$text-big-gray-color: #7C7C7C;
$wrapperColor: rgb(236, 233, 233);